html(lang="en")
    head
        title Visit www.pixelrocket.store to learn how to become a frontend web developer
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="buildingblocks-assets/fonts/fonts.css")
        link(rel="stylesheet" href="css/bootstrap/bootstrap.min.css")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon.png")
    body
        div(class="")
            p(class="text-light-dark text-center py-3 bg-primary-light")
                | Want to learn how to build templates like this one? Visit 
                a(href="https://www.pixelrocket.store") www.pixelrocket.store
            section(class="")
                nav(class="navbar navbar-expand-lg navbar-light")
                    div(class="container")
                        a(class="navbar-brand" href="index.html")
                            img(class="img-fluid" src="images/logo-4.svg" alt="")
                        button(class="d-lg-none navbar-burger btn p-0 rounded-pill" style="border: none;" type="button" aria-expanded="false")
                            svg(class="text-secondary" width="51" height="51" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect(width="56" height="56" rx="28" fill="currentColor")
                                path(d="M37 32H19M37 24H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                        div(class="collapse navbar-collapse position-relative" id="nav01")
                            ul(class="navbar-nav position-absolute top-50 start-50 translate-middle")
                                li(class="nav-item")
                                    a(class="nav-link" href="about.html") About
                                li(class="nav-item")
                                    a(class="nav-link" href="pricing.html") Pricing
                                li(class="nav-item")
                                    a(class="nav-link" href="blog.html") Blog
                                li(class="nav-item")
                                    a(class="nav-link" href="contact.html") Contact
                        div(class="d-none d-lg-block")
                            a(class="btn me-4 btn-sm border-0 btn-outline-light lh-sm text-dark" href="login.html") Login
                            a(class="btn btn-sm btn-secondary lh-sm" href="register.html") Get Started
                div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs" style="z-index: 9999;")
                    div(class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark" style="opacity: 75%;")
                    nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto")
                        div(class="d-flex align-items-center")
                            a(class="me-auto h4 mb-0 text-decoration-none" href="index.html")
                                img(class="img-fluid" src="images/logo-4.svg" alt="")
                            |               
                            a(class="navbar-close" href="#")
                                svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div(class="py-12")
                            ul(class="nav flex-column")
                                li(class="nav-item mb-4")
                                    a(class="nav-link text-dark" href="about.html") About
                                li(class="nav-item mb-4")
                                    a(class="nav-link text-dark" href="pricing.html") Pricing
                                li(class="nav-item mb-4")
                                    a(class="nav-link text-dark" href="blog.html") Blog
                                li(class="nav-item")
                                    a(class="nav-link text-dark" href="contact.html") Contact
                        div
                            a(class="btn d-block mb-2 btn-sm border-0 btn-outline-light text-dark" href="login.html") Login
                            a(class="btn d-block btn-sm btn-secondary-dark" href="register.html") Get Started
            section(class="pb-12 pb-lg-24")
                nav(class="navbar mb-12 navbar-expand-lg navbar-light")           
                |         
                div(class="position-relative mw-7xl mx-auto py-12")
                    div(class="position-absolute top-0 start-0 w-100 row")
                        div(class="col-3")
                            div(class="rounded-3 py-32 mb-12 mb-md-6" style="background: linear-gradient(180deg, rgba(248, 248, 248, 0.00) 0%, #F8F8F8 100%);")
                            div(class="d-flex pt-6 px-4 align-items-end justify-content-center bg-primary-light rounded-3")
                                img(class="img-fluid" src="buildingblocks-assets/images/hero/woman-picture.png" alt="")
                        div(class="col-3")
                            div(class="rounded-3 py-32 mb-6" style="background: linear-gradient(180deg, rgba(248, 248, 248, 0.00) 0%, rgba(248, 248, 248, 0.50) 100%);")
                        div(class="col-3")
                            div(class="rounded-3 py-32 mb-6" style="background: linear-gradient(180deg, rgba(248, 248, 248, 0.00) 0%, rgba(248, 248, 248, 0.50) 100%);")
                        div(class="col-3")
                            div(class="rounded-3 py-32 mb-40 mb-md-24" style="background: linear-gradient(180deg, rgba(248, 248, 248, 0.00) 0%, #F8F8F8 100%);")
                            div(class="d-flex pt-6 px-4 align-items-end justify-content-center bg-primary rounded-3")
                                img(class="img-fluid" src="buildingblocks-assets/images/hero/man-picture.png" alt="")
                    div(class="container position-relative")
                        div(class="mw-4xl mx-auto mb-24 text-center")
                            span(class="badge mb-6 d-inline-flex align-items-center border border-info lh-base shadow")
                                svg(width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    circle(cx="5" cy="5" r="5" fill="#FF7100")
                                span(class="ms-2 fw-semibold") 1236
                                |                 
                                span(class="ms-1 text-light-dark") Online
                            h1(class="font-heading mb-6") Unlock collective knowledge
                            p(class="mw-xl mx-auto fs-5 text-light-dark mb-10") Fuel your curiosity, expand your horizons, and achieve greatness by joining a vibrant community of learners.
                            a(class="btn btn-primary border-primary-dark" href="#") Study Together Now
                div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs" style="z-index: 9999;")
                    div(class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark" style="opacity: 75%;")
                    nav(class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto")
                        div(class="d-flex align-items-center")
                            a(class="me-auto h4 mb-0 text-decoration-none" href="#")
                                img(class="img-fluid" src="images/logo-4.svg" alt="")
                            |               
                            a(class="navbar-close" href="#")
                                svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div(class="py-12")
                            ul(class="nav flex-column")
                                li(class="mb-6")
                                    a(class="btn btn-link text-light-dark p-0" href="about.html") About
                                li(class="mb-6")
                                    a(class="btn btn-link text-light-dark p-0" href="pricing.html") Pricing
                                li(class="mb-6")
                                    a(class="btn btn-link text-light-dark p-0" href="blog.html") Blog
                                li(class="mb-6")
                                    a(class="btn btn-link text-light-dark p-0" href="contact.html") Contact
                                li
                                    a(class="btn btn-link text-light-dark p-0" href="https://www.pixelrocket.store") Pixel Rocket
                        div
                            a(class="btn d-block mb-2 btn-sm border-0 btn-outline-light text-dark" href="#") Login
                            a(class="btn d-block btn-sm btn-secondary-dark" href="#") Get Started
            section(class="py-12 py-md-16 py-lg-24 overflow-hidden")
                div(class="container mb-10")
                    p(class="text-center text-light-dark mb-0") Backed by leading education companies
                div(class="d-flex mb-4 justify-content-start")
                    div(class="flex-shrink-0 ms-n12 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo1.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo2.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo3.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo4.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo5.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo1.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo2.png" alt="")
                div(class="d-flex justify-content-center")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo1.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo2.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo1.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo2.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo3.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo4.png" alt="")
                    div(class="flex-shrink-0 py-6 px-10 mx-2 bg-light-light bg-opacity-50 rounded-2")
                        img(class="img-fluid" src="buildingblocks-assets/images/logos/placeholder-logo5.png" alt="")
            section(class="py-12 py-md-16 py-lg-24")
                div(class="container")
                    div(class="mw-5xl mx-auto")
                        div(class="text-center mb-24")
                            h3(class="font-heading text-center mb-4") Discover features
                            p(class="text-light-dark mb-0") Innovative features tailored to enhance your learning experience.
                        div(class="row")
                            div(class="col-12 col-sm-6 mb-12 mb-lg-24")
                                div(class="ps-4")
                                    svg(width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(width="56" height="56" rx="16" fill="#FF7100")
                                        path(d="M22.9998 14.6667V41.3334H22.4132C17.5598 41.3334 14.6665 38.44 14.6665 33.5867V22.4134C14.6665 17.56 17.5598 14.6667 22.4132 14.6667H22.9998Z" fill="white")
                                        path(d="M40.8333 22.4134V26.5H25.5V15.1667H33.5867C35.9139 15.1667 37.7113 15.8584 38.9264 17.0736C40.1416 18.2887 40.8333 20.0861 40.8333 22.4134Z" fill="white" stroke="white")
                                        path(d="M41.3333 29V33.5867C41.3333 38.44 38.44 41.3333 33.5867 41.3333H25V29H41.3333Z" fill="white")
                                    div(class="position-relative my-4")
                                        div(class="position-absolute top-0 start-0 py-3 ms-n4 border-2 border-start border-primary")
                                        h5(class="display-3 fw-bold") Study room. Personal or group.
                                    p(class="text-light-dark") Optimize your study environment with a personalized room, tailored it to enhance focus and accommodate group study sessions.
                            div(class="col-12 col-sm-6 mb-12 mb-lg-24")
                                div(class="ps-4")
                                    svg(width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(width="56" height="56" rx="16" fill="#FF7100")
                                        path(d="M28.9036 38.6094C29.2699 38.6946 29.3034 39.1744 28.9466 39.2933L26.84 39.9867C21.5466 41.6933 18.76 40.2667 17.04 34.9733L15.3333 29.7067C13.6266 24.4134 15.04 21.6134 20.3333 19.9067L21.3706 19.5632C21.7735 19.4297 22.1612 19.8321 22.0388 20.2385C21.9267 20.6104 21.8216 21.0065 21.72 21.4267L20.4133 27.0134C18.9466 33.2934 21.0933 36.76 27.3733 38.2534L28.9036 38.6094Z" fill="white")
                                        path(d="M32.5517 16.2466L32.553 16.2469L34.7795 16.7669C34.7796 16.7669 34.7796 16.7669 34.7797 16.7669C37.5248 17.409 39.1893 18.3814 40.0469 19.7636C40.9044 21.1458 41.0353 23.0673 40.3933 25.8059L39.0866 31.3792L39.0864 31.38C38.5365 33.7432 37.737 35.3111 36.6416 36.2484C35.5632 37.1713 34.1209 37.5472 32.1279 37.3556L32.1279 37.3556L32.1199 37.3549C31.4837 37.304 30.7899 37.1889 30.0374 37.0073L30.0359 37.0069L27.7959 36.4736L27.7956 36.4735C25.0633 35.8248 23.4011 34.8525 22.5432 33.4712C21.6856 32.0904 21.5516 30.1721 22.1935 27.4341L22.1936 27.4339L23.5001 21.8478C23.5002 21.8477 23.5002 21.8475 23.5002 21.8474C23.762 20.7349 24.0714 19.7879 24.4488 19.0207L24.4488 19.0207L24.4502 19.0176C25.1858 17.4962 26.1488 16.5834 27.4115 16.1476C28.6975 15.7038 30.3656 15.7295 32.5517 16.2466ZM32.8701 29.9013L32.8701 29.9013L32.8718 29.8946C33.0713 29.0968 32.5926 28.2758 31.7744 28.0748L27.8966 27.0887L27.8947 27.0883C27.0996 26.8895 26.2768 27.3647 26.075 28.1721C25.8763 28.9668 26.3511 29.7892 27.1578 29.9915C27.1582 29.9916 27.1585 29.9916 27.1588 29.9917L31.0369 30.9779L31.0628 30.9845L31.0894 30.9883C31.0985 30.9896 31.1085 30.9911 31.1192 30.9927C31.1943 31.0038 31.304 31.02 31.4134 31.02C32.087 31.02 32.6904 30.5803 32.8701 29.9013ZM36.7768 25.3946L36.7769 25.3946L36.7792 25.3851C36.9741 24.5858 36.5084 23.7546 35.676 23.5669L29.2163 21.9287L29.2147 21.9283C28.4196 21.7295 27.5968 22.2047 27.395 23.0121C27.1963 23.8068 27.6711 24.6292 28.4778 24.8315C28.4781 24.8316 28.4785 24.8316 28.4788 24.8317L34.9438 26.4713L34.9697 26.4779L34.996 26.4816C35.0052 26.4829 35.0152 26.4844 35.0258 26.486C35.1009 26.4971 35.2106 26.5133 35.3201 26.5133C35.9936 26.5133 36.597 26.0736 36.7768 25.3946Z" fill="white" stroke="white")
                                    div(class="position-relative my-4")
                                        div(class="position-absolute top-0 start-0 py-3 ms-n4 border-2 border-start border-primary")
                                        h5(class="mb-0 display-3 fw-bold") Summarize your learning
                                    p(class="text-light-dark") Summarize learning effortlessly with in-platform notes. Condense key takeaways and insights from any topic you've explored.
                            div(class="col-12 col-sm-6 mb-12 mb-sm-0")
                                div(class="ps-4")
                                    svg(width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(width="56" height="56" rx="16" fill="#FF7100")
                                        path(d="M33.8333 16.7467V17.2025L34.2872 17.2446C35.994 17.4026 37.2071 17.9834 38.026 18.8529C38.8482 19.7257 39.3217 20.9409 39.4484 22.455L39.4483 22.4551L39.4495 22.4666C39.4522 22.4917 39.4445 22.5268 39.4106 22.5626C39.3761 22.5989 39.3283 22.62 39.28 22.62H16.72C16.6773 22.62 16.6319 22.6013 16.5972 22.5652C16.5645 22.5313 16.5498 22.4911 16.552 22.4502C16.6793 20.9383 17.1526 19.7248 17.9739 18.8529C18.7929 17.9834 20.006 17.4026 21.7127 17.2446L22.1666 17.2025V16.7467V14.6667C22.1666 14.3962 22.3961 14.1667 22.6666 14.1667C22.9372 14.1667 23.1666 14.3962 23.1666 14.6667V16.6667V17.1667H23.6666H32.3333H32.8333V16.6667V14.6667C32.8333 14.3962 33.0628 14.1667 33.3333 14.1667C33.6038 14.1667 33.8333 14.3962 33.8333 14.6667V16.7467Z" fill="white" stroke="white")
                                        path(d="M38.6667 25.12H17.3333C16.6 25.12 16 25.72 16 26.4533V34.6667C16 38.6667 18 41.3333 22.6667 41.3333H33.3333C38 41.3333 40 38.6667 40 34.6667V26.4533C40 25.72 39.4 25.12 38.6667 25.12ZM24.28 36.28C24.1467 36.4 24 36.4933 23.84 36.56C23.68 36.6267 23.5067 36.6667 23.3333 36.6667C23.16 36.6667 22.9867 36.6267 22.8267 36.56C22.6667 36.4933 22.52 36.4 22.3867 36.28C22.1467 36.0267 22 35.68 22 35.3333C22 34.9867 22.1467 34.64 22.3867 34.3867C22.52 34.2667 22.6667 34.1733 22.8267 34.1067C23.1467 33.9733 23.52 33.9733 23.84 34.1067C24 34.1733 24.1467 34.2667 24.28 34.3867C24.52 34.64 24.6667 34.9867 24.6667 35.3333C24.6667 35.68 24.52 36.0267 24.28 36.28ZM24.56 31.1733C24.4933 31.3333 24.4 31.48 24.28 31.6133C24.1467 31.7333 24 31.8267 23.84 31.8933C23.68 31.96 23.5067 32 23.3333 32C23.16 32 22.9867 31.96 22.8267 31.8933C22.6667 31.8267 22.52 31.7333 22.3867 31.6133C22.2667 31.48 22.1733 31.3333 22.1067 31.1733C22.04 31.0133 22 30.84 22 30.6667C22 30.4933 22.04 30.32 22.1067 30.16C22.1733 30 22.2667 29.8533 22.3867 29.72C22.52 29.6 22.6667 29.5067 22.8267 29.44C23.1467 29.3067 23.52 29.3067 23.84 29.44C24 29.5067 24.1467 29.6 24.28 29.72C24.4 29.8533 24.4933 30 24.56 30.16C24.6267 30.32 24.6667 30.4933 24.6667 30.6667C24.6667 30.84 24.6267 31.0133 24.56 31.1733ZM28.9467 31.6133C28.8133 31.7333 28.6667 31.8267 28.5067 31.8933C28.3467 31.96 28.1733 32 28 32C27.8267 32 27.6533 31.96 27.4933 31.8933C27.3333 31.8267 27.1867 31.7333 27.0533 31.6133C26.8133 31.36 26.6667 31.0133 26.6667 30.6667C26.6667 30.32 26.8133 29.9733 27.0533 29.72C27.1867 29.6 27.3333 29.5067 27.4933 29.44C27.8133 29.2933 28.1867 29.2933 28.5067 29.44C28.6667 29.5067 28.8133 29.6 28.9467 29.72C29.1867 29.9733 29.3333 30.32 29.3333 30.6667C29.3333 31.0133 29.1867 31.36 28.9467 31.6133Z" fill="white")
                                    div(class="position-relative my-4")
                                        div(class="position-absolute top-0 start-0 py-3 ms-n4 border-2 border-start border-primary")
                                        h5(class="mb-0 display-3 fw-bold") Events and discussion
                                    p(class="text-light-dark") Elevate your learning with thought-provoking events and vibrant discussions that foster your growth and collaboration..
                            div(class="col-12 col-sm-6")
                                div(class="ps-4")
                                    svg(width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(width="56" height="56" rx="16" fill="#FF7100")
                                        path(d="M41.3332 41.3333H14.6665C14.1198 41.3333 13.6665 40.88 13.6665 40.3333C13.6665 39.7866 14.1198 39.3333 14.6665 39.3333H41.3332C41.8798 39.3333 42.3332 39.7866 42.3332 40.3333C42.3332 40.88 41.8798 41.3333 41.3332 41.3333Z" fill="white")
                                        path(d="M30.5 40.8334H25.5V17.3334C25.5 16.6557 25.6406 16.1167 25.92 15.7565C26.1817 15.4193 26.6213 15.1667 27.4 15.1667H28.6C29.3787 15.1667 29.8183 15.4193 30.08 15.7565C30.3594 16.1167 30.5 16.6557 30.5 17.3334V40.8334Z" fill="white" stroke="white")
                                        path(d="M16 25.3334V41.3334H21.3333V25.3334C21.3333 23.8667 20.8 22.6667 19.2 22.6667H18.1333C16.5333 22.6667 16 23.8667 16 25.3334Z" fill="white")
                                        path(d="M34.6665 32V41.3333H39.9998V32C39.9998 30.5333 39.4665 29.3333 37.8665 29.3333H36.7998C35.1998 29.3333 34.6665 30.5333 34.6665 32Z" fill="white")
                                    div(class="position-relative my-4")
                                        div(class="position-absolute top-0 start-0 py-3 ms-n4 border-2 border-start border-primary")
                                        h5(class="display-3 fw-bold") See progress. Achieve more.
                                    p(class="text-light-dark") Track your daily progress through Stats and the leaderboard. Get badges, and stay motivated as you move closer to your goals.
            section(class="py-12 py-md-16 py-lg-24")
                div(class="container")
                    div(class="mw-6xl mx-auto")
                        div(class="mw-md mw-lg-xl mx-auto mb-20 text-center")
                            h3(class="font-heading mb-4") How it works
                            p(class="text-light-dark mb-0") What steps do I need to take to join?
                        div(class="mw-xl mw-lg-5xl mx-auto pt-12 bg-primary-light rounded-3 overflow-hidden")
                            div(class="row")
                                div(class="col-12 col-lg-6 mb-lg-0")
                                    div(class="px-8 pb-16 mw-lg mx-auto")
                                        div(class="p-6 border-bottom border-info")
                                            div(class="d-flex")
                                                span(class="d-inline-block mt-n1")
                                                    svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M16.8 2H14.2C11 2 9 4 9 7.2V11.25H13.44L11.37 9.18C11.22 9.03 11.15 8.84 11.15 8.65C11.15 8.46 11.22 8.27 11.37 8.12C11.66 7.83 12.14 7.83 12.43 8.12L15.78 11.47C16.07 11.76 16.07 12.24 15.78 12.53L12.43 15.88C12.14 16.17 11.66 16.17 11.37 15.88C11.08 15.59 11.08 15.11 11.37 14.82L13.44 12.75H9V16.8C9 20 11 22 14.2 22H16.79C19.99 22 21.99 20 21.99 16.8V7.2C22 4 20 2 16.8 2Z" fill="#FF7100")
                                                        path(d="M2.75 11.25C2.34 11.25 2 11.59 2 12C2 12.41 2.34 12.75 2.75 12.75H9V11.25H2.75Z" fill="#FF7100")
                                                div(class="ms-3")
                                                    h6(class="mb-3") Create Account
                                                    p(class="text-light-dark mb-0") Click "Sign Up," enter your name, email, a secure password, and hit "Create Account."
                                        div(class="p-6 border-bottom border-primary")
                                            div(class="d-flex")
                                                span(class="d-inline-block mt-n1")
                                                    svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17Z" fill="#FF7100")
                                                        path(d="M12 7V17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7Z" fill="#FF7100")
                                                div(class="ms-3")
                                                    h6(class="mb-3") Join or Create Room
                                                    p(class="text-light-dark mb-0") Join ongoing rooms for focus and connection or create your study space.
                                        div(class="p-6 border-bottom border-info")
                                            div(class="d-flex")
                                                span(class="d-inline-block mt-n1")
                                                    svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M22 4.84999V16.74C22 17.71 21.21 18.6 20.24 18.72L19.93 18.76C18.29 18.98 15.98 19.66 14.12 20.44C13.47 20.71 12.75 20.22 12.75 19.51V5.59999C12.75 5.22999 12.96 4.88999 13.29 4.70999C15.12 3.71999 17.89 2.83999 19.77 2.67999H19.83C21.03 2.67999 22 3.64999 22 4.84999Z" fill="#FF7100")
                                                        path(d="M10.71 4.70999C8.87999 3.71999 6.10999 2.83999 4.22999 2.67999H4.15999C2.95999 2.67999 1.98999 3.64999 1.98999 4.84999V16.74C1.98999 17.71 2.77999 18.6 3.74999 18.72L4.05999 18.76C5.69999 18.98 8.00999 19.66 9.86999 20.44C10.52 20.71 11.24 20.22 11.24 19.51V5.59999C11.24 5.21999 11.04 4.88999 10.71 4.70999ZM4.99999 7.73999H7.24999C7.65999 7.73999 7.99999 8.07999 7.99999 8.48999C7.99999 8.90999 7.65999 9.23999 7.24999 9.23999H4.99999C4.58999 9.23999 4.24999 8.90999 4.24999 8.48999C4.24999 8.07999 4.58999 7.73999 4.99999 7.73999ZM7.99999 12.24H4.99999C4.58999 12.24 4.24999 11.91 4.24999 11.49C4.24999 11.08 4.58999 10.74 4.99999 10.74H7.99999C8.40999 10.74 8.74999 11.08 8.74999 11.49C8.74999 11.91 8.40999 12.24 7.99999 12.24Z" fill="#FF7100")
                                                div(class="ms-3")
                                                    h6(class="mb-3") Start Learning
                                                    p(class="text-light-dark mb-0") Now that you're all set up! Get ready to enhance your skills, all at your own pace.
                                div(class="col-12 col-lg-6")
                                    div(class="d-flex h-100 ps-10 ps-lg-0 align-items-end justify-content-end")
                                        img(class="img-fluid d-block" style="object-fit: contain;" src="buildingblocks-assets/images/how-it-works/picture-half-primary2.png" alt="")
            section(class="py-12 py-md-16 py-lg-24")
                div(class="container")
                    h3(class="font-heading text-center mb-24") Discover our features
                    div(class="mw-5xl mx-auto")
                        div(class="row mx-n2 mb-n4")
                            div(class="col-sm-7 mb-4 px-2")
                                img(class="img-fluid h-100 w-100" src="buildingblocks-assets/images/features/feature1-secondary.png" alt="")
                            div(class="col-sm-5 mb-4 px-2")
                                img(class="img-fluid h-100 w-100" src="buildingblocks-assets/images/features/feature2-primary2.png" alt="")
                            div(class="col-sm-3 mb-4 px-2")
                                img(class="img-fluid h-100 w-100" src="buildingblocks-assets/images/features/feature3-primary2.png" alt="")
                            div(class="col-sm-5 mb-4 px-2")
                                img(class="img-fluid h-100 w-100" src="buildingblocks-assets/images/features/feature4-primary.png" alt="")
                            div(class="col-sm-4 mb-4 px-2")
                                img(class="img-fluid h-100 w-100" src="buildingblocks-assets/images/features/feature5-secondary.png" alt="")
            section(class="py-12 py-md-16 py-lg-24 overflow-hidden")
                div(class="container")
                    div(class="mw-2xl mx-auto mb-20 text-center")
                        h3(class="font-heading mb-6") Testimonials
                        p(class="text-light-dark mb-0") See what they have to say about us
                    div(class="mw-lg mw-md-4xl mx-auto mw-xl-none pt-16 px-6 px-md-10 bg-primary-light rounded-3")
                        div(class="row align-items-end")
                            div(class="col-md-6 col-xl-4 order-last order-xl-first")
                                div(class="mw-sm mx-auto pt-14 px-6 px-lg-12 pb-2 bg-white rounded-top border border-light")
                                    div(class="overflow-hidden")
                                        h5(class="display-3 fw-bold mb-8") “Highly recommended”
                                        span
                                            svg(width="288" height="84" viewbox="0 0 288 84" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(width="168" height="12" rx="2" fill="#F0F0F0")
                                                rect(y="24" width="288" height="12" rx="2" fill="#F0F0F0")
                                                rect(y="48" width="288" height="12" rx="2" fill="#F0F0F0")
                                                rect(y="72" width="200" height="12" rx="2" fill="#F0F0F0")
                            div(class="col-md-12 col-xl-4")
                                div(class="mw-sm mx-auto pt-14 pb-6 px-6 px-lg-12 bg-white rounded-top border border-light")
                                    h5(class="display-3 fw-bold mb-8") “Make learning fun”
                                    p(class="mb-16 text-dark-light") They shipping a platform that took learning to the next level. I can invite my friend to study in specific topic together in just two-click.
                                    div(class="d-flex align-items-center")
                                        img(class="img-fluid pt-1 bg-light rounded-pill" src="buildingblocks-assets/images/testimonials/woman-avatar2.png" alt="")
                                        div(class="ms-3")
                                            span(class="d-block fw-bold") Hanna Stanton
                                            |                       
                                            span(class="d-block small text-light-dark") Student
                            div(class="col-md-6 col-xl-4")
                                div(class="mw-sm mx-auto pt-14 px-6 px-lg-12 pb-2 bg-white rounded-top border border-light")
                                    div(class="overflow-hidden")
                                        h5(class="display-3 fw-bold mb-8") “Amazing platform”
                                        span
                                            svg(width="288" height="84" viewbox="0 0 288 84" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                rect(width="168" height="12" rx="2" fill="#F0F0F0")
                                                rect(y="24" width="288" height="12" rx="2" fill="#F0F0F0")
                                                rect(y="48" width="288" height="12" rx="2" fill="#F0F0F0")
                                                rect(y="72" width="200" height="12" rx="2" fill="#F0F0F0")
            section(class="py-12 py-md-16 py-lg-24 position-relative")
                div(class="container position-relative")
                    div(class="mw-5xl mx-auto py-20 px-8 bg-primary rounded-3")
                        div(class="mw-lg mw-xl-2xl mx-auto text-center")
                            div(class="mb-6")
                                svg(width="68" height="34" viewbox="0 0 68 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M2 34C1.99977 29.7976 2.8273 25.6364 4.43533 21.7539C6.04336 17.8713 8.40039 14.3436 11.3718 11.3721C14.3433 8.40056 17.8709 6.04346 21.7533 4.43539C25.6358 2.82732 29.7969 1.99977 33.9991 2C51.6726 2 66 16.3261 66 34" stroke="#FFC96D" stroke-width="4" stroke-miterlimit="10")
                                    path(d="M9.22583 34C9.22583 27.4084 11.836 21.0868 16.482 16.4258C21.1281 11.7649 27.4295 9.14639 34 9.14639C40.5705 9.14639 46.872 11.7649 51.518 16.4258C56.1641 21.0868 58.7742 27.4084 58.7742 34" stroke="#FFF2D6" stroke-width="4" stroke-miterlimit="10")
                                    path(d="M16.134 34C16.134 29.2617 18.0163 24.7174 21.3669 21.3669C24.7174 18.0163 29.2617 16.134 34 16.134C38.7384 16.134 43.2827 18.0163 46.6332 21.3669C49.9837 24.7174 51.866 29.2617 51.866 34" stroke="#530031" stroke-width="4" stroke-miterlimit="10")
                            h3(class="font-heading mb-6 text-white") Want to learn how to build templates like this one?
                            p(class="text-primary-light mb-10") Visit www.pixelrocket.store and learn how to become a frontend web developer
                            div(class="d-inline-block bg-white rounded-pill")
                                a(class="btn btn-outline-light text-dark w-100" href="https://www.pixelrocket.store") Start learning today!
            section(class="py-12 pt-lg-24")
                div(class="container")
                    div(class="row mb-16 mb-md-20 mb-lg-32")
                        div(class="col-lg-3 mb-16 mb-lg-0")
                            a(class="d-inline-block" href="#")
                                img(src="images/logo-4.svg" alt="")
                        div(class="col-lg-9")
                            div(class="row")
                                div(class="col-6 col-md-3 mb-12")
                                    h6(class="mb-6 fw-medium") Platform
                                    ul(class="list-unstyled mb-0")
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="about.html") About
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="pricing.html") Pricing
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="blog.html") Blog
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="contact.html") Contact
                                        li
                                            a(class="btn btn-link text-light-dark p-0" href="https://www.pixelrocket.store") Pixel Rocket
                                div(class="col-6 col-md-3 mb-12")
                                    h6(class="mb-6 fw-medium") Company
                                    ul(class="list-unstyled mb-0")
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="#") About
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="#") Our Mission
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="#") Careers
                                            |                       
                                            span(class="badge ms-1 bg-primary text-white lh-base") HIRING
                                        li
                                            a(class="btn btn-link text-light-dark p-0" href="#") Contact
                                div(class="col-6 col-md-3")
                                    h6(class="mb-6 fw-medium") Resources
                                    ul(class="list-unstyled mb-0")
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="#") Tutorials
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="#") Blog
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="#") Help Center
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="#") Features
                                        li
                                            a(class="btn btn-link text-light-dark p-0" href="#") Support
                                div(class="col-6 col-md-3")
                                    h6(class="mb-6 fw-medium") Community
                                    ul(class="list-unstyled mb-0")
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="#") Discord Server
                                        li(class="mb-6")
                                            a(class="btn btn-link text-light-dark p-0" href="#") Slack Group
                                        li
                                            a(class="btn btn-link text-light-dark p-0" href="#") Zoom Room
                    div(class="text-center")
                        p(class="text-light-dark small mb-0")
                            | Template by 
                            a(href="https://www.pixelrocket.store") Pixel Rocket
                            | . All rights reserved.
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
